{% extends "profiles/base_profile.html" %}
{% load crispy_forms_tags %}

{% block blck %}
	{% if messages %}
		{% for msg in messages %}
			<p class="alert alert-success mt-3">{{ msg }}</p>
		{% endfor %}
	{% endif %}
	<div class="w-50 mx-auto">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form|crispy }}
			<a href="{% url 'authapp:password_change' %}?next={% url 'profiles:edit_profile' %}">Change password</a><br><br>
			<input type="submit" value="Edit" class="btn btn-primary">
			<a href="{% url 'profiles:profile_deleting' %}" class="btn btn-outline-danger">Delete account</a>
		</form>
	</div>
{% endblock blck %}