{% extends "super.html" %}

{% block content %}
	<div class="container shadow-sm p-3 mx-auto my-5 bg-white rounded">
		<h1 class="justify-content-left">{{ title }}</h1>
		<div class="nav nav-tabs justify-content-right">
			<a href="" class="nav-item nav-link p-2 mx-1 {{profile_a}} {{profile_d}}">Profile</a>
			<a href="" class="nav-item nav-link p-2 mx-1 {{wallets_a}} {{wallets_d}}">Wallets</a>
			<a href="" class="nav-item nav-link p-2 mx-1 {{settings_a}} {{settings_d}}">Settings</a>
		</div>
	</div>
{% endblock content %}