{% extends "profiles/base_profile.html" %}
{% load static %}
{% block blck %}
	<div class="container">
	<div class="mt-3">
		<p style="font-size: 1.9em;">Welcome, {{user.get_full_name}}</p>
	</div>
	<div class="row pl-3">
		<div class="col p-0">
		<p class="font-weight-bold">Your personal information: </p>
		<div class="row mb-5">
			<div class="col-2">
				Your email: <br>
				Your phone: <br>
				Your living place: <br>
				Your birth date: <br>
				Account created date: <br>
			</div>
			<div class="col-4">
				{{ user.email }}<br>
				{{ user.phone_number }}<br>
				{{ user.living_place }}<br>
				{{ user.birth_date }}<br>
				{{ user.created_date }}<br>
			</div>
		</div>
			<div class="actions">
				<div class="dropdown d-inline" style="margin-right: 12px">
				<a href="" class="btn btn-outline-info dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Скачать</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a href="{% static 'temp-files/person.csv' %}"  download="true" class="dropdown-item">.csv</a>
						<a href="{% static 'temp-files/person.txt' %}"  download="true" class="dropdown-item">.txt</a>
						<a href="{% static 'temp-files/person.json' %}" download="true"  class="dropdown-item">.json</a>
					</div>
				</div>

				<a href="{% url 'profiles:edit_profile' %}" class="btn btn-outline-warning">Изменить</a>
				<a href="" class="btn btn-outline-danger">Удалить</a>
			</div>
		</div>
	</div>
	</div>
{% endblock blck %}