{% extends "super.html" %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/profile.css' %}">
{% endblock styles %}
{% block content %}
	<h1>{{ title }}</h1>
	<div class="nav nav-tabs">
		<a href="" class="nav-item nav-link p-2 mx-1 {{profile_a}} {{profile_d}}">Profile</a>
		<a href="" class="nav-item nav-link p-2 mx-1 {{wallets_a}} {{wallets_d}}">Wallets</a>
		<a href="" class="nav-item nav-link p-2 mx-1 {{settings_a}} {{settings_d}}">Settings</a>
	</div>
	<div class="container">
	<div class="mt-3">
		<p style="font-size: 1.9em;">Welcome, {{user.get_full_name}}</p>
	</div>
	<div class="row pl-3">
		<div class="col p-0">
		<p class="font-weight-bold">Your personal information: </p>
		<div class="row mb-5">
			<div class="col-2">
				Your email: <br>
				Your phone: <br>
				Your living place: <br>
				Your birth date: <br>
				Account created date: <br>
			</div>
			<div class="col-4">
				{{ user.email }}<br>
				{{ user.phone_number }}<br>
				{{ user.living_place }}<br>
				{{ user.birth_date }}<br>
				{{ user.created_date }}<br>
			</div>
		</div>
			<div class="actions">
				<div class="dropdown d-inline" style="margin-right: 12px">
				<a href="" class="btn btn-outline-info dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Скачать</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a href="" class="dropdown-item">.csv</a>
						<a href="" class="dropdown-item">.txt</a>
						<a href="" class="dropdown-item">.json</a>
					</div>
				</div>

				<a href="" class="btn btn-outline-warning">Изменить</a>
				<a href="" class="btn btn-outline-danger">Удалить</a>
			</div>
		</div>
	</div>
	</div>
{% endblock content %}