{% extends "super.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<p class="h4 mb-4 text-center">
		Write email address of your user account. And we will sent password reset link on it.
	</p>
	<div class="container w-75">
		{% for msg in messages %}
			{% if "token-404" in msg.extra_tags %}
				<p class="alert alert-danger">{{msg}}</p>
			{% else %}
				<p class="text-success">{{msg}}</p>
			{% endif %}
		{% endfor %}
		<form method="POST">
			{% csrf_token %}
			{{form|crispy}}
			<input type="submit" value="Send" class="btn btn-primary">
		</form>
	</div>
{% endblock content %}