{% extends "super.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<p class="h3">Feedback</p>
	{% for msg in messages  %}
		{% if "feedback-done" in msg.tags %}
			<p class="alert alert-success">{{ msg }}</p>
		{% endif %}
	{% endfor %}
	<form method="POST">
		{% csrf_token %}
		{{form|crispy}}
		
		{% for msg in messages %}
			{% if "recaptcha-error" in msg.tags %}
				<p style="color:red;">{{msg}}</p>		
			{% endif %}
		{% endfor %}
		<input type="submit" value="Send message">
	</form>
{% endblock content %}