{% extends "super.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/home.css' %}">
{% endblock styles %}


{% block content %}
	{% if message_info %}
		<p class="alert alert-success font-weight-bold">{{ message_info }}</p>	
	{% endif %}
    <div class="text-center" style='margin: 3rem 0'>
        <a href="{% url 'home' %}" class="home h2">mWallet</a>
        <p class="description h3">инструмент для управления вашими расходами</p>
    </div>
{% endblock content %}